body{
    margin: 0;
    padding: 0;
}

#form-container{
    width: 100vw;
    height: 35vh;
    position: relative;
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    background:url("pattern-bg.png");
    background-size:cover;
}
#form-container h1{
    font-size: 35px;
    color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;
    height: 40px;
    margin-bottom: 30px;
}
#map{
    width: 100vw;
    height: 65vh;
    background-color: rgb(255, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}



#output-area{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: white;
    box-shadow: 8px 4px 16px -4px grey;
    border-radius: 20px;
    max-width:  1000px; ;
    position: absolute;
    left: 50%;
    top: 35%;
    width: 53%;
    transform: translate(-50%, -50%);
    padding: 29px 22px;
    height: 65px;
    max-width: 900px;
    min-width: 221px;  
}
.column{
    padding: 0px 40px 0px 20px;
    width: 150px;
    margin: auto;
}
.column:not(:last-child){
    border-right: 1px solid lightgrey;
}
h6{
    color: rgb(172, 172, 172);
    font-family: 'Rubik', sans-serif;
    font-size: xx-small;
     margin-top: 0px;
}
p{
    font-weight: bold;
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    width: 150px;
}


@media only screen and (max-width: 787px) {
    #output-area{ 
        height: 34%;
        top: 45.5%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        
        
    }
    .column{
         margin: auto;
        }
    .column:not(:last-child){
        border-right: none;
        }
  }