body{
    margin: 0;
    padding: 0;
}
#form-container{
    width: 100vw;
    height: 35vh;
    position: relative;
    display:flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    background:url("pattern-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
}
#form-container h1{
    font-size: 2.188rem;
    color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;
    height: 2.5rem;
    margin-bottom: 1.875rem;
}
#map{
    width: 100vw;
    height: 65vh;
    background-color: rgb(102, 101, 101);
    display:flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
 #Input-area ,#input-ip {
    height: 6.5vh;
} 
#Input-area{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 43.75rem;
    height: 3.75rem;
    position: relative;
    border-radius: 0.938rem;
    margin-bottom: 6.875rem;
    min-width: 15.313rem;
}
#button{
    width: 11%;
    height: 6.8vh;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background: #000;
    cursor: pointer;
    color: white;
    font-weight:bold ;
}
#input-ip{
    width: 89%;
    border-radius: 15px 0px 0px 15px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    padding-left: 15px;
}
#output-area{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 8px 4px 16px -4px grey;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    padding: 1.813rem 2.813rem;
    min-height: 60px;
    z-index: 1000;
}
.column{
    width: 9.375rem;
}
.column:not(:first-child) {
    padding-left: 0.625rem;
    border-left: 1px solid lightgrey;
}
h6{
    color: rgb(172, 172, 172);
    font-family: 'Rubik', sans-serif;
    font-size: xx-small;
     margin-top: 0rem;
}
p{
    font-weight: bold;
    font-size: larger;
    font-family: 'Rubik', sans-serif;
    width: 9.375rem;
}
@media only screen and (max-width: 768PX) {
    #output-area{ 
        height: 42%;
        top: 47%;
        flex-direction: column;
        text-align: center;
        justify-content: center; 
    }
    .column{
         margin: auto;
         width: 15.625rem;
        }
    .column:not(:first-child){
        border-left: none;
        }
    #Input-area{
        max-width: 70%;
    }
    #Input-area #input-ip{
        font-size: 0.781rem;
        
    }
    #form-container h1{
        font-size: x-large;
        margin-top: 1.875rem;
    }
    p{
        width: 15.625rem;
    }
}